* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #E8ECED;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1, h2 {
    font-weight: 400;
}
#apostles-box {
    max-width: 850px;
    padding: 1em;
    background-image: url('images/christus.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65% center;
    border: 10px solid black;
    border-radius: 30px;
    text-align: center;
    margin: 30px auto;
}
#first-presidency-box {
    width: 700px;
    margin: 0 auto;            
}
 #first-presidency-box img {
    margin: .8em;
}
#quorom-twelve-box {
    max-width: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px auto;
    justify-items: center;
    justify-content: center;
    gap: 1em;
}
img {
    border: 5px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 0;
}
img.large-image {
    width: 140px;
    height: 140px;
}
img.medium-image {
    width: 125px;
    height: 125px;
}
img.small-image {
    width: 100px;
    width: 100px;
}