#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 81px;
}

.icon {
    width: 80px;
    padding-top: 15px 30px;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    color: #1a1a1a;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #FFFFFF;
    color: #1a1a1a;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

header {
    background-color: #f28c28;
}

nav a:hover {
    background-color: #0b2c4a;
    color: #FFFFFF;
}

.home-title {
    color: #1a1a1a;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #1a1a1a;
    
}

.book, .join {
    background-color: #1fa3e0;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px
}

.book:hover, .join:hover {
    background-color: #0b2c4a;
    color: #FFFFFF;
}

.msg h2{
    color: #1a1a1a;
    font-family: Montserrat, Helvetica, sans-serif;
}

.msg p{
    color: #1a1a1a;
    font-size: .8em;
    padding-bottom: 15px;
}

#background {
    background-color: #f28c28;
}

.msg {
    background-color: #1fa3e0;
    color: #FFFFFF;
    line-height: 1.5em;
    padding: 35px;
}

.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}

footer {
    background-color: #0b2c4a;
    color: #FFFFFF;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #1a1a1a;
    text-decoration: none;
}

footer a:hover {
    color: #1a1a1a;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.card-img {
    border: 10px solid #1a1a1a;
}
main section img {
    box-sizing: border-box;
}




