* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ffecd7;
    padding: 2em;
}

.card img {
    max-width: 200px;
    border: 4px solid #FFFFFE;
    display: block;
    margin: 0 auto;
}

.card {
    width: 300px;
    margin: 0 auto;
    background-color: #008db1;
    padding: 1.5em;
    border-radius: 25px;
    border: 4px solid #004e63
    
}

.card h1 {
    color: #fffffe;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 0.5em;
}

.card h2 {
    color: #91e4fb;
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.card a {
    text-decoration: none;
    color: #91e4fb;
}

.card a:visited {
    color: #91e4fb;

}

.card ul {
    text-align: left;
    width: 180px;
    margin: 0 auto;
    font-size: 0.9em;
    color: #fffffe;
    margin-top: 1em;
}
