/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #999;

}

img {
    max-width: 100%;
    height: auto;
}

nav {
    border: 3px solid #4a4326;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: grey;
    padding: 2em;

}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
    
}

section#blue {
    background-color: lightblue;

}

section#green {
    background-color: lightgreen;
    grid-column: 1/2;
    grid-row: 1/2;
}

section#red {
    background-color: lightcoral;
}

section#about {
    grid-column: 1/4;
    border: 3px solid black;
    text-align: center;
} */